@use "/src/assets/colors/colors.scss" as *;

$header-height: 75px;

.articles-section {
  padding: 1rem;

  &--title {
    font-family: 'Poppins';
    margin-bottom: 15px;
    font-weight: 500;
    padding-left: 5px;
  }

  &--sort {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;

    p {
      font-family: 'Poppins';
      padding-left: 5px;
      font-size: 12px;
    }
  }

  &--list {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

@media screen and (min-width: 1280px) {
  .articles-section {
    &--list {
      gap: 40px;
    }

    .sort-pagination {
      background-color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 10px;
      padding: 10px 15px;
    }
  }
}