<table>
	<thead>
	  <tr>
		<th *ngFor="let column of columns">
			<ng-container *ngIf="column.header !== 'accion' || role === 'ROLE_AUX_BODEGA'">
			  {{ column.header }}
			</ng-container>
		  </th>
	  </tr>
	</thead>
	<tbody>
	  <tr *ngFor="let row of rows">
		<td *ngFor="let column of columns">
		  {{ row[column.field] }}
		  <button
			*ngIf="column.field == 'action' && columns && columns[0]?.field  && role == 'ROLE_AUX_BODEGA'"
			class="add-button"
			(click)="emitId(row[columns[0].field])"
		  >
			<img [src]="addIcon" alt="">
		  </button>
		</td>
	  </tr>
	</tbody>
  </table>
  