<app-modal-article 
    *ngIf="openForm" 
    modalTitle="Registrar Articulo"
    [showForm]="openForm" 
    (closeFormValue)="closeFormArticle($event)">
    <div class="modal-form">
        <div class="modal-drag-drop">
          <drag-drop></drag-drop>
        </div>
        <div class="form-container">
          <app-form-article 
            [categoryList]="listDataCategory" 
            [brandList]="listDataBrand"
            (articleRequestEvent)="saveArticle($event)">
          </app-form-article>
        </div>
      </div>
</app-modal-article>

<app-modal-message 
    *ngIf="showModalMessage" 
    [iconMessage]="modalIcon"
    [titleMessage]="modalTitle"
    [textMessage]="modalMessage"
    (closeModalValue)="closeModalMessage()"
    >
</app-modal-message>

<app-dashboard>
    <h2>Administrar <span>Articulos</span></h2>

    <div class="add-brand-button">
        <app-button ButtonIcon icon="add" (click)="openFormArticle()">Agregar Articulo</app-button>
    </div>


</app-dashboard>
