<div class="cart_list">
  <h3>Articulos en el carrito</h3>
  <div class="pagination-section">
    <pagination-bar (paginationChange)="getArticles($event)"></pagination-bar>
  </div>
  <div class="filter-section">
    <span>filtrar por: </span>
    <div class="filter-section-select">
      <div class="filter-section_option">
        <span>Marca</span>
        <dropdown-select
          [options]="listDataBrand"
          placeholder="Selecciona una marca"
          (selectionChange)="assignBrand($event)"
        ></dropdown-select>
      </div>
      <div class="filter-section_option">
        <span>Categoria</span>
        <dropdown-select
          [options]="listDataCategory"
          placeholder="Selecciona una categoria"
          (selectionChange)="assignCategory($event)"
        ></dropdown-select>
      </div>
    </div>
  </div>
  <p>Precio total: {{ totalPrice}}</p>
  <ul>
    <li *ngFor="let articleCart of articleCartList">
      <div class="cart-data">
        <img [src]="articleCart.imagePath" alt="">
        <div class="cart-data_text">
          <p class="cart-data_text-title">{{ articleCart.name }}</p>
          <span *ngIf="!articleCart.restockNextDate">stock: {{ articleCart.stock }}</span>
          <span *ngIf="articleCart.restockNextDate">next restock date: {{ articleCart.restockNextDate }}</span>
          <p>${{ articleCart.price }} x <span>{{ articleCart.quantity }}</span></p>
        </div>
      </div>
      <div class="delete-cart" (click)="deleteArticleCart(articleCart.cartId)">
        <i class="fa-solid fa-circle-xmark"></i>
      </div>
    </li>
  </ul>
  <app-pagination 
    [totalPages]="totalPages" 
    [currentPage]="currentPage" 
    [showArrowLeft]="hasPreviousPage"
    [showArrowRight]="hasNextPage" 
    (pageNumberChange)="nextPage($event)">
  </app-pagination>

  <a class="buy-link" [routerLink]="['/sale']">comprar productos del carrito</a>
</div>