@use "/src/assets/colors/colors.scss" as *;

.nav-menu {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 0;
  height: 100%;
  background-color: $color-black;
  transition: 0.3s;
  overflow-x: hidden;
  overflow-y: auto;

  ul {
    z-index: 3;
    margin-top: 120px;

    li {
      color: $color-white;
      height: 60px;
      display: flex;
      justify-content: start;
      align-items: center;
      font-size: 18px;
      gap: 15px;
      font-family: 'Poppins';
      padding-left: 5px;
      min-width: 270px;
      transition: 0.1s;

      a {
        text-decoration: none;
        color: $color-white;
      }
    }

    li:hover:not(.link-active) {
      background-color: $color-purple;
    } 

    .link-active {
      background-color: $color-purple-dark;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;

      a {
        color: $color-white;
      }
    }
  }
}

.nav-menu-expand {
  width: 270px;
}

@media screen and (min-width: 1280px)  {
  .nav-menu {
    width: 270px;
  }

  .nav-menu-expand {
    width: 0;
  }
}