@use "/src/assets/colors/colors.scss" as *;

.nav-menu {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 0;
  height: 100%;
  background-color: $color-purple;
  transition: 0.3s;
  overflow-x: hidden;
  overflow-y: auto;

  ul {
    z-index: 3;
    margin-top: 120px;

    li {
      color: $color-white;
      height: 60px;
      display: flex;
      justify-content: start;
      align-items: center;
      font-size: 18px;
      gap: 15px;
      font-family: 'Poppins';
      padding-left: 5px;
      min-width: 270px;

      a {
        text-decoration: none;
        color: $color-white;
      }
    }

    .link-active {
      background-color: $color-white;

      a {
        color: $color-purple;
      }
    }
  }
}

.nav-menu-expand {
  width: 270px;
}