<div class="nav-menu" [ngClass]="{'nav-menu-expand': navMenuExpamded}">
  <ul>
    <li *ngIf="userRole === 'ROLE_ADMIN'" routerLinkActive="link-active">
      <img [src]="configIcon">
      <a [routerLink]="['/admin-category']">Administrar Categorías</a>
    </li>
    <li *ngIf="userRole === 'ROLE_ADMIN'" routerLinkActive="link-active">
      <img [src]="configIcon">
      <a [routerLink]="['/admin-brand']">Administrar Marcas</a>
    </li>
    <li *ngIf="userRole === 'ROLE_AUX_BODEGA' || userRole === 'ROLE_ADMIN'" routerLinkActive="link-active">
      <img [src]="configIcon">
      <a [routerLink]="['/admin-article']">Administrar Artículos</a>
    </li>
    <li *ngIf="userRole === 'ROLE_ADMIN'" routerLinkActive="link-active">
      <img [src]="configIcon">
      <a [routerLink]="['/admin-user']">Administrar Usuarios</a>
    </li>
    <li *ngIf="userRole === 'ROLE_ADMIN'" routerLinkActive="link-active">
      <img [src]="configIcon">
      <a [routerLink]="['/report']">Reporte de ventas</a>
    </li>
  </ul>
</div>
