<app-modal-category 
    *ngIf="openForm" 
    modalTitle="Registrar Categorías"
    [showForm]="openForm" 
    (closeFormValue)="closeFormCategory($event)"
    (categoryRequestEvent)="saveCategory($event)">
</app-modal-category>

<app-modal-message 
    *ngIf="showModalMessage" 
    [iconMessage]="modalIcon"
    [titleMessage]="modalTitle"
    [textMessage]="modalMessage"
    (closeModalValue)="closeModalMessage()"
    >
</app-modal-message>

<app-dashboard>
    <h2>Administrar <span>Categorias</span></h2>

    <div class="add-category-button">
        <app-button ButtonIcon icon="add" (click)="openFormCategory()">agregar categoria</app-button>
    </div>

    <app-table 
        [columns]="categoryColumns" 
        [tableData]="tableDataCategory"
        (paginationChange)="getCategorie($event)"
    ></app-table>

    <app-pagination 
        [totalPages]="totalPages"
        [currentPage]="currentPage"
        [showArrowLeft]="hasPreviousPage"
        [showArrowRight]="hasNextPage"
        (pageNumberChange)="nextPage($event)"
    ></app-pagination>
</app-dashboard>
