<div class="header">
    <div class="header-logo">
        <div class="header-menu">
            <img src="/assets/icons/menu-bars.svg" alt="">
        </div>
        <h1 class="header-logo--text">EMAZON</h1>
    </div>
    <div class="header-option">
        <div class="header-option--cart" (click)="showCart()">
            <img [src]="cartIcon" alt="">
        </div>
        <div class="header-option--user">
            <img [src]="userIcon" alt="">
            <p *ngIf="!existToken"><a [routerLink]="['/login']">Log in</a></p>
            <p *ngIf="existToken" (click)="changeHeaderMenu()">
                {{ userName }}
                <img class="arrow-icon" [src]="arrowIcon" alt="">
            </p>
        </div>

        <div class="header-menu_options" *ngIf="showHeaderMenu">
            <ul>
                <li *ngIf="(role == 'ROLE_ADMIN' || role == 'ROLE_AUX_BODEGA')"><a
                        [routerLink]="role === 'ROLE_ADMIN' ? '/admin-category' : '/admin-article'">Dashboard</a></li>
                <li (click)="logout()" class="header-menu--logout">Cerrar sesión</li>
            </ul>
        </div>

     <cart-list *ngIf="showCartValue"></cart-list>
    </div>
</div>